
#price {
    _font-size: clamp(2rem, 3rem, 4rem);
    font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3rem);
}

h1 {
    font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3rem);
    // color: #121dae;
}

/* @media screen and (min-width: 700px) {
    body {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    }
} */