#price {
  _font-size: 3rem;
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3rem);
}

h1 {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3rem);
}

/* @media screen and (min-width: 700px) {
    body {
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    }
} *//*# sourceMappingURL=style.css.map */