/* VARIABLES */
/* FUNCTIONS */
/* https://guwii.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/ */
body {
  background-color: rgb(58, 127, 137);
  font-family: "lato", "verdana";
  /* PART MENU */
  /* PART ABOUT */
  /* PART SKILLS */
  /* PART EXPERIENCE */
  /* PART FORMATION */
  /* PART PORTOLIO */
  /* PART PASSIONS */
  /* PART FOOTER */
  /* GENERAL */
}
body #menu {
  color: white !important;
  background-color: rgb(58, 127, 137);
  font-size: 1.1em;
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid white;
}
body #menu .navbar-nav {
  margin-left: 5em;
  margin-right: 5em;
  text-align: right;
}
body #menu .navbar-toggler {
  /*             float: right;
              position: sticky;
              _display: block !important;
              right: 10px; */
}
body #menu .nav-link {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 6px;
}
body #menu .nav-link.active, body #menu .nav-link:hover {
  background-color: white !important;
  color: rgba(58, 127, 137, 0.8) !important;
}
body #about {
  color: #bbd1cb;
}
body #about .about__profile-pict {
  text-align: center;
  margin: 0 auto 30px;
}
body #about .about__profile-pict:hover {
  _box-shadow: 8px 8px 2px 1px rgba(27, 99, 56, 0.2);
}
body #about .about__heading h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body #about .about__heading .about__btn {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 3px;
  display: inline-block;
  padding: 18px 50px;
  margin-top: 20px;
  transition: all 0.3s ease-in 0s;
}
body #about .about__heading .about__btn:hover {
  background-color: white;
  color: black;
  _font-weight: bold;
}
body #skills {
  background-color: white;
  color: rgb(58, 127, 137);
}
body #skills .progress {
  height: 45px;
  margin: 30px 20px;
  text-transform: uppercase;
  _font-family: "Arial", "Helvetica", "sans-serif";
  _font-size: larger;
}
body #skills .progress:hover {
  box-shadow: 8px 8px 2px 1px rgba(27, 99, 56, 0.2);
}
body #skills .progress:last-child {
  margin-bottom: 0;
}
body #skills .progress-bar {
  background-color: rgb(58, 127, 137);
}
body #skills .progress-bar h5 {
  text-shadow: 2px 2px 2px black;
  margin-bottom: 3px;
}
body #skills .progress-bar:hover {
  height: 110%;
  _box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
body #experience {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body #experience .divider {
  background-color: white;
}
body #experience .experience__heading {
  margin-bottom: 20px;
}
body #experience .experience__title {
  color: white;
}
body #experience .timeline {
  color: rgb(58, 127, 137);
  list-style: none;
  padding: 30px 10px;
  position: relative;
}
body #experience .timeline li .timelinePannel:hover {
  box-shadow: 2px 2px 2px black;
  text-shadow: 0.5px 0.5px 0.5px rgb(58, 127, 137);
  _font-size: 101%;
}
body #experience .timeline:before {
  content: " ";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 5px;
  background-color: white;
  left: 50%;
  margin-left: -2.5px;
}
body #experience .timeline > li {
  margin-bottom: 20px;
  position: relative;
}
body #experience .timeline > li:after, body #experience .timeline > li:before {
  content: " ";
  display: table;
}
body #experience .timeline > li:after {
  clear: both;
}
body #experience .timeline li .timeline__badge {
  color: black;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: white;
  border-radius: 50%;
}
body #experience .timeline .timelinePannel__Container {
  max-width: 50%;
  float: left;
}
body #experience .timeline .timelinePannel__Container-inverted {
  max-width: 50%;
  float: right;
}
body #experience .timeline .timelinePannel__Container-inverted .timelinePannel {
  float: left;
  margin-left: 40px;
}
body #experience .timeline .timelinePannel__Container-inverted .timelinePannel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
body #experience .timeline .timelinePannel {
  width: 100%;
  float: right;
  margin-right: 40px;
  border: 1px solid white;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background-color: white;
}
body #experience .timeline .timelinePannel h3 {
  margin-top: 5px;
  text-transform: uppercase;
  _font-family: "lato";
  font-size: 1.2em;
  text-decoration: overline underline;
  text-underline-offset: 5px;
  text-overline-offset: 5px;
}
body #experience .timeline .timelinePannel h4 {
  margin-top: 5px;
  font-size: 1.2em;
  text-transform: capitalize;
}
body #experience .timeline .timelinePannel h5 {
  margin-top: 7px;
  font-size: 1em;
}
body #experience .timeline .timelinePannel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid white;
  border-right: 0 solid white;
  border-bottom: 14px solid transparent;
  content: " ";
}
body #formation {
  background-color: white;
  color: rgb(58, 127, 137);
  margin: 15px 0;
}
body #formation .formation__heading {
  margin-bottom: 40px;
}
body #formation .formation__block {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: #e9ecef;
  border-radius: 5px;
  border: 1px solid rgb(58, 127, 137);
  margin-bottom: 20px;
}
body #formation .formation__block h3 {
  text-transform: capitalize;
  _color: red;
  _font-weight: bolder; /* does not work on that font */
  margin: 15px 0;
  text-shadow: 1px 1px 1px black;
}
body #formation .formation__block h4, body #formation .formation__block p {
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  margin-bottom: 20px;
}
body #formation .formation__block h5 {
  color: #888;
  font-size: 15px;
  margin-bottom: 15px;
}
body #formation .formation__block span {
  font-size: 35px;
}
body #portfolio {
  color: white;
}
body #portfolio .portfolio__title {
  margin-bottom: 40px;
}
body #portfolio .divider {
  background-color: white;
}
body #portfolio .col-md-4 {
  margin-bottom: 20px;
}
body #portfolio img {
  width: 100%;
  height: 100%;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
}
body #portfolio img:hover {
  filter: none;
  -webkit-filter: none;
}
body #portfolio .tooltipNOBOOTSRAP {
  visibility: visible;
}
body #portfolio .tooltipNOBOOTSRAP:hover .tooltiptext2 {
  visibility: visible;
}
body #portfolio .tooltiptext2 {
  _visibility: hidden;
  width: 120px;
  height: 100px;
  background-color: black;
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}
body #passions {
  background-color: white;
  color: rgb(58, 127, 137);
}
body #passions .passion__title {
  margin-bottom: 40px;
}
body #passions .passions__carousel__item {
  padding: 30px 30px 90px;
}
body #passions .passions__carousel__item h3 {
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  font-weight: normal;
  _text-decoration: overline underline;
  margin-bottom: 20px;
}
body #passions .passions__carousel__item h4 {
  margin-left: 70px;
  margin-right: 70px;
  font-style: italic;
}
body footer {
  background-color: #333;
  color: white;
  padding: 25px;
}
body footer span {
  color: red;
  font-size: 25px;
  line-height: 35px;
}
body footer span:hover {
  font-size: 27px;
}
body footer h5 {
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  font-weight: normal;
}
body section {
  padding: 65px 0 80px 0;
}
body section .about__heading {
  text-align: center;
  padding-bottom: 40px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: bold;
}
body .img {
  max-width: 100%;
  height: auto;
}
body .img100 {
  position: relative;
  max-width: 100%;
  height: auto;
}
body .divider {
  width: 100px;
  height: 2px;
  margin: 0 auto 20px;
  background-color: rgb(58, 127, 137);
}
body .sectionTitle {
  font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}/*# sourceMappingURL=CVscss.css.map */