$colorOrange:   #ffa500;
$colorRed :     #d82c2e;
$colorWhite :   white;
$colorBlue :    #0069d6;
$colorGrey :    #333;

body {
    font-family: "Lato", sans-serif;
    margin: 70px 0px;
    background:#0069d6 !important;

    .container {
        .divider {
            width: 100px;
            height: 2px;
            background: $colorOrange; // #ffa500;
            margin: 0 auto;
            margin-top: 50px;
            _padding: 10px;
        }
    
        .heading {
            text-align: center;
            margin-bottom: 60px;
    
            h2 {
                text-transform: uppercase;
                font-weight: bold;
                color: $colorWhite;
            }
        }

        #contact-form {
            font-size: 20px;
            background: $colorWhite; // ou #fff
            padding: 40px;
            border-radius: 10px;

            input[type=submit] {
                margin: 40px auto 0px;
                display: block;
            }

            .envoyerBtn {
                border: 1px solid $colorWhite;
                background: $colorOrange; //#ffa500;
                color: $colorWhite;
                width: 100%;
                font-weight: bold;
                text-transform: uppercase;
                padding: 18px;
                border-radius: 0.7em; //5px;
                transition: all 0.3 ease-in 0s s; // voir comment ça marche au besoin.
                _margin-bottom: 15px; // marche pas ...

                &:hover {
                    background: $colorGrey;
                    color: $colorOrange;
                }

            }

            .thank-you {
                text-align: center;
                margin-top: 15px !important;  // marche pas ... Même en margin-bottom : 15 px dans .envoyerBtn
                font-weight: bold;
                font-size: 22px;
                visibility: hidden;
            }
            
            .form-control {
                height: 50px;
                _font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
            }

            .comments {
                font-style: italic;
                font-size: 18px;
                color: $colorRed;  //#d82c2e;
                height: 25px; // permet de garder une place, même si le texte est invisible (message d'erreur no affiché)
            }
        }

        .blue {
            color: $colorBlue;
            margin-left: 0.5em;
        }
    }
}