body {
  font-family: "Lato", sans-serif;
  margin: 70px 0px;
  background: #0069d6 !important;
}
body .container .divider {
  width: 100px;
  height: 2px;
  background: #ffa500;
  margin: 0 auto;
  margin-top: 50px;
  _padding: 10px;
}
body .container .heading {
  text-align: center;
  margin-bottom: 60px;
}
body .container .heading h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
body .container #contact-form {
  font-size: 20px;
  background: white;
  padding: 40px;
  border-radius: 10px;
}
body .container #contact-form input[type=submit] {
  margin: 40px auto 0px;
  display: block;
}
body .container #contact-form .envoyerBtn {
  border: 1px solid white;
  background: #ffa500;
  color: white;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 18px;
  border-radius: 0.7em;
  transition: all 0.3 ease-in 0s s;
  _margin-bottom: 15px;
}
body .container #contact-form .envoyerBtn:hover {
  background: #333;
  color: #ffa500;
}
body .container #contact-form .thank-you {
  text-align: center;
  margin-top: 15px !important;
  font-weight: bold;
  font-size: 22px;
  visibility: hidden;
}
body .container #contact-form .form-control {
  height: 50px;
  _font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
body .container #contact-form .comments {
  font-style: italic;
  font-size: 18px;
  color: #d82c2e;
  height: 25px;
}
body .container .blue {
  color: #0069d6;
  margin-left: 0.5em;
}/*# sourceMappingURL=style.css.map */