html, body {
  font-family: arial;
  min-width: 300px;
}

button {
  border: 1px;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
}

* {
  outline: 0;
}

.dark {
  background-color: #112F41;
  color: #ffffff;
}

.clair {
  background-color: #ffffff;
  color: #080808;
}

.dark button {
  background: #144098;
  color: #fff;
}

.bodyClass {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}