/* VARIABLES */
$base-color:                rgb(58, 127, 137); //rgb(42, 141, 154);
$base-color2:               white;
$font-color:                #bbd1cb;
$backgroundColorMenu:       #333;
$verdanaFamily:             'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
$textShadow2px:             2px 2px 2px black;
$textShadow1px:             1px 1px 1px black;
$textShadow2pxBaseColor:    2px 2px 2px black;
$textShadow05pxBaseColor:   0.5px 0.5px 0.5px $base-color;
$borderWhite:               1px solid $base-color2;
$borderBaseColor:           1px solid $base-color;
$grayscale100:              grayscale(100%);
$grayscale75:               grayscale(75%);
$grayscale25:               grayscale(25%);
$colorOrange:   #ffa500;
$colorRed :     #d82c2e;
$colorWhite :   white;
$colorBlue :    #0069d6;
$colorGrey :    #333;

/* FUNCTIONS */
/* https://guwii.com/bytes/sass-function-loop-headings-h1h2h3h4h5h6/ */
// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

body {
    background-color: $base-color;
    font-family: 'lato', 'verdana';

    /* PART MENU */
    #menu {
        color: $base-color2 !important;
        background-color: $base-color;
        font-size: 1.1em;
        font-family: $verdanaFamily;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-bottom: $borderWhite;
        .navbar-nav {
            margin-left: 5em;
            margin-right: 5em;
            text-align: right;
        }
        .navbar-toggler {
/*             float: right;
            position: sticky;
            _display: block !important;
            right: 10px; */
        }
        .nav-link {
            color: rgba($base-color2, 0.8);
            margin: 0 6px;
            &.active, &:hover {
                background-color: $base-color2 !important;
                color: rgba($base-color, 0.8) !important;
            }
        }
    }

    /* PART ABOUT */
    #about {
        color: $font-color;
        .about__profile-pict {
            text-align: center; // why not adding bootstrap's class 'text-center' ?
            margin: 0 auto 30px;
            &:hover {
                _box-shadow: 8px 8px 2px 1px rgba(27, 99, 56, 0.2);
                // filter: $grayscale25;
                // -webkit-filter: $grayscale25;
            }
        }
        .about__heading {
            h1 {
                color: $base-color2;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
        }
    }

    /* PART SKILLS */
    #skills {
        background-color: $base-color2;
        color: $base-color;
        .progress {
            height: 45px;
            margin: 30px 20px;
            text-transform: uppercase;
            _font-family: 'Arial', 'Helvetica', 'sans-serif';
            _font-size: larger;
            &:hover {
                box-shadow: 8px 8px 2px 1px rgba(27, 99, 56, 0.2);
            }
        }
        .progress:last-child {
            margin-bottom: 0;
        }
        .progress-bar {
            background-color: $base-color;
            h5 {
                text-shadow: $textShadow2px;
                margin-bottom: 3px;
            }
            &:hover {
                height: 110%;
                _box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
            }
        }
    }

    /* PART EXPERIENCE */
    #experience {
        color: $base-color2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        .divider {
            background-color: $base-color2;
        }
        .experience__heading {
            margin-bottom: 20px;
        }
        .experience__title {
            color: $base-color2;
        }

        .timeline {
            color: $base-color;
            list-style: none;
            padding: 30px 10px;
            position: relative;

            li .timelinePannel:hover {
                box-shadow: $textShadow2pxBaseColor;
                text-shadow: $textShadow05pxBaseColor ;
                _font-size: 101%;
            }
            &:before {
                content: ' ';
                top: 0;
                bottom: 0;
                position: absolute;
                width: 5px;
                background-color: $base-color2;
                left: 50%;
                margin-left: -2.5px;
            }
            
            & > li {
                margin-bottom: 20px;
                position: relative;
                
                &:after, &:before {
                    content: ' ';
                    display: table;
                }
                &:after {
                    clear: both;
                }
            }

            li .timeline__badge {
                color: black;
                width: 50px;
                line-height: 50px;
                font-size: 20px;
                text-align: center;
                position: absolute;
                top: 16px;
                left: 50%;
                margin-left: -25px;
                background-color: $base-color2;
                border-radius: 50%;
            }

            .timelinePannel__Container {
                max-width: 50%;
                float: left;
            }
            .timelinePannel__Container-inverted {
                max-width: 50%;
                float: right;
                .timelinePannel {
                    float: left;
                    margin-left: 40px;
                    &:after {
                        border-left-width: 0;
                        border-right-width: 14px;
                        left: -14px;
                        right: auto;
                    }
                }
            }
            .timelinePannel {
                width: 100%; // modification because prior value of 90% didn't let enought space for text
                float: right;
                margin-right: 40px;
                border: $borderWhite;
                border-radius: 7px;
                padding: 20px 25px;
                position: relative;
                box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
                background-color: $base-color2;
                h3 {
                    margin-top: 5px;
                    text-transform: uppercase;
                    _font-family: 'lato';
                    font-size: 1.2em;
                    text-decoration: overline underline;
                    text-underline-offset: 5px;
                    text-overline-offset: 5px;
                }
                h4 {
                    margin-top: 5px;
                    font-size: 1.2em;
                    text-transform: capitalize;
                }
                h5 {
                    margin-top: 7px;
                    font-size: 1em;
                }
                &:after {
                    position: absolute;
                    top: 27px;
                    right: -14px;
                    display: inline-block;
                    border-top: 14px solid transparent;
                    border-left: 14px solid $base-color2;
                    border-right: 0 solid $base-color2;
                    border-bottom: 14px solid transparent;
                    content: ' ';
                }
            }
            
        }

    }

    /* PART FORMATION */
    #formation {
        background-color: $base-color2;
        color: $base-color;
        margin: 15px 0;
        .formation__heading {
            margin-bottom: 40px;
        }
        .formation__block {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            padding: 30px;
            background-color: #e9ecef;
            border-radius: 5px;
            border: $borderBaseColor;
            margin-bottom: 20px;
            h3 {
                text-transform: capitalize;
                _color: red;
                _font-weight: bolder; /* does not work on that font */
                margin: 15px 0;
                text-shadow: $textShadow1px;
            }
            h4, p {
                font-family: $verdanaFamily;
                margin-bottom: 20px;
            }
            h5 {
                color: #888;
                font-size: 15px;
                margin-bottom: 15px;
            }
            span {
                font-size: 35px;
            }
        }
    }

    /* PART PORTOLIO */
    #portfolio {
        color: $base-color2;
        .portfolio__title {
            margin-bottom: 40px;
        } 
        .divider {
            background-color: $base-color2;
        }
        .col-md-4 {
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            height: 100%;
            filter: $grayscale75;
            -webkit-filter: $grayscale75;
            &:hover {
                filter: none;
                -webkit-filter: none;
            }
        }
        .row p {
            // margin-bottom: 50px;
            // font-size: 2em;
            // padding-bottom: 20px;
            // visibility: hidden;
        }
        .tooltipNOBOOTSRAP {
            // position: relative;
            // display: inline-block;
            // border-bottom: 1px dotted black;
            visibility: visible;
        }
        .tooltipNOBOOTSRAP:hover .tooltiptext2 {
            visibility: visible;
        }
        .tooltiptext2 {
            _visibility: hidden;
            width: 120px;
            height: 100px;
            background-color: black;
            color: #333;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 105%;
        }
    }

    /* PART PASSIONS */
    #passions {
        background-color: $base-color2;
        color: $base-color;
        .passion__title {
            margin-bottom: 40px;
        }
        .passions__carousel__item {
            padding: 30px 30px 90px;
            h3 {
                font-family: $verdanaFamily;
                font-weight: normal;
                _text-decoration: overline underline;
                margin-bottom: 20px;
            }
            h4 {
                margin-left: 70px;
                margin-right: 70px;
                font-style: italic;
            }
        }
    }

    /* PART CONTACT */
    #contact {
        color: $base-color2;
        .container {
            .contact__divider {
                background: $colorWhite; // #ffa500;
            }
            .heading {
                text-align: center;
                _margin-bottom: 60px;
                h2 {
                    text-transform: uppercase;
                    font-weight: bold;
                    _color: $colorWhite;
                }
            }
            #contact-form {
                font-size: 25px;
                font-weight: bold;
                padding-top: 30px;
                padding-left: 160px;
                margin-left: 80px;
                border-radius: 10px;
                _margin-top: 40px;
                input[type=submit] {
                    margin: 40px auto 0px;
                    display: block;
                    color: $base-color2;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }

                .contact__btn {
                    &:hover {
                        color: black;
                    }
                }

                .thank-you {
                    text-align: center;
                    margin-top: 15px !important;  // marche pas ... Même en margin-bottom : 15 px dans .envoyerBtn
                    font-weight: bold;
                    font-size: 22px;
                    visibility: hidden;
                }
                .form-control {
                    height: 50px;
                    _font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 18px;
                }
                .comments {
                    font-style: italic;
                    font-size: 18px;
                    color: $colorWhite;
                    height: 25px; // permet de garder une place, même si le texte est invisible (message d'erreur no affiché)
                }
            }
            .blue {
                color: $colorBlue;
                margin-left: 0.5em;
            }
        }
    }

    /* PART FOOTER */
    footer {
        background-color: $backgroundColorMenu;
        color: $base-color2;
        padding: 25px;
        span {
            color: red;
            font-size: 25px;
            line-height: 35px;
            &:hover {
                font-size: 27px;
            }
        }
        h5 {
            font-family: $verdanaFamily;
            font-weight:normal;
        }
    }

    /* GENERAL */
    section {
        padding: 65px 0 80px 0;
        .about__heading {
            text-align: center;
            padding-bottom: 40px;
        }
    }

    .btn {
        font-weight: bold;
        color: $base-color2;
        text-transform: uppercase;
        text-decoration: none;
        border: $borderWhite;
        border-radius: 3px;
        display: inline-block;
        padding: 18px 50px;
        margin-top: 20px;
        transition: all 0.3s ease-in 0s;
        // color: red;
        background: transparent;
        &:hover {
            background-color: $base-color2;
            color: black;
            _font-weight: bold;
        }
    }
        
    #{headings(1,6)} {
        font-weight: bold;
    }

    .img {
        max-width: 100%;
        height: auto;
    }

    .img100 {
        position: relative;
        max-width: 100%;
        height: auto;
    }

    .divider {
        width: 100px;
        height: 2px;
        margin: 0 auto 20px;
        background-color: $base-color;
    }

    .sectionTitle {
        font-family: $verdanaFamily;
        font-size: 1.8em;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    
}