@import url("https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Bungee+Spice&family=Crete+Round&family=Holtwood+One+SC&family=Lato:wght@100&family=Limelight&family=Satisfy&display=swap");
body {
  background: url(../img/bg.png);
}
body .text-logo {
  font-family: "Holtwood One SC", sans-serif;
  color: #E7480F;
  text-shadow: 2px 2px #FFD301;
  font-size: 50px;
  padding: 40px;
  text-align: center;
  background-image: none;
}
body .text-logo::first-letter {
  _text-transform: capitalize;
}
body .text-logo .glyphicon {
  color: #FFD301;
  text-shadow: 0 0 #FFD301;
}
body .site {
  font-family: "Holtwood One SC", sans-serif;
}
body .site .nav > li > a {
  color: #EEE;
  _background-color: grey;
  font-style: 18px;
  text-shadow: 2px 2px #333;
}
body .site .nav > li > a:focus, body .site .nav > li > a:hover {
  color: #E7480F;
  background-color: #FFF;
}
body .site .nav > li > a.active {
  background-color: #E7480F;
}
body .site .nav > li > a.active:hover {
  color: #FFD301;
}
body .site .img-thumbnail {
  margin: 15px 0;
}
body .site .img-thumbnail img {
  background-color: #FFD301;
}
body .site .img-thumbnail .price {
  background: #5CB85C;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
  text-shadow: 2px 2px #333;
  position: absolute;
  top: 30px;
  right: 6px;
  padding: 5px 10px;
  font-style: 20px;
  border-radius: 3px;
}
body .site .img-thumbnail .price::before {
  border: 4px solid transparent;
  border-bottom-color: #4A934A;
  border-left-color: #4A934A;
  content: "";
  position: absolute;
  right: 1px;
  top: -8px;
}
body .site .img-thumbnail .caption > h4 {
  _min-height: 70px;
  color: #E7480F;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: capitalize;
}
body .site .img-thumbnail .caption .btn-order {
  width: 100%;
  padding: 10px;
  font-style: 16px;
  color: #FFF;
  background-color: #E7480F;
  _text-decoration: none;
  text-shadow: 2px 2px #333;
}
body .site .img-thumbnail .caption .btn-order:hover, body .site .img-thumbnail .caption .btn-order:focus {
  _color: #FFF;
  background: #C13C0D;
}
body .admin:not(.h1exception, .h1exception > span) {
  background: #FFF;
  padding: 50px;
  border-radius: 10px;
}
body .admin:not(.h1exception, .h1exception > span) h1::first-letter {
  text-transform: capitalize;
}
body .admin:not(.h1exception, .h1exception > span) thead > tr > th::first-letter {
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */