$baseColor : rgb(88, 56, 31);
$colorRed : #E7480F;
$colorRedDeep : #C13C0D;
$colorYellow : #FFD301;
$colorGreen : #5CB85C;
$colorGreenLight : #4A934A;
$colorWhite : #FFF;
$colorWhiteLight : #EEE;
$boxShawowPrice : 0px 1px rgba(0, 0, 0, 0.2);
$textShadowPrice : 2px 2px #333;

// FONTS from Google https://fonts.google.com/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Bungee+Spice&family=Crete+Round&family=Holtwood+One+SC&family=Lato:wght@100&family=Limelight&family=Satisfy&display=swap');
// font-family: 'Holtwood One SC', serif;

body {
    background: url(../img/bg.png);

    .text-logo {
        // besoin pour override le style Bootstrap -_-
        font-family: "Holtwood One SC", sans-serif;
        color: $colorRed;
        text-shadow: 2px 2px $colorYellow;
        font-size: 50px;
        padding: 40px;
        text-align: center;
        background-image: none;

        // marche pas à cause des span ...
        &::first-letter {
            _text-transform: capitalize;
        }

        & .glyphicon {
            color: $colorYellow;
            text-shadow: 0 0 $colorYellow;
        }
    }

    .site {
        font-family: "Holtwood One SC", sans-serif;

        // navbar
        .nav>li>a {
            color: $colorWhiteLight;
            _background-color: grey;
            font-style: 18px;
            text-shadow: $textShadowPrice;

            &:focus,
            &:hover {
                color: $colorRed;
                background-color: $colorWhite;
            }

            &.active {
                background-color: $colorRed; // $colorYellow;

                &:hover {
                    color: $colorYellow;
                }
            }
        }

        .img-thumbnail {
            margin: 15px 0;

            img {
                background-color: $colorYellow;
            }

            .price {
                background: $colorGreen;
                box-shadow: $boxShawowPrice;
                color: $colorWhite;
                text-shadow: $textShadowPrice;
                position: absolute;
                top: 30px;
                right: 6px;
                padding: 5px 10px;
                font-style: 20px;
                border-radius: 3px;

                &::before {
                    border: 4px solid transparent;
                    border-bottom-color: $colorGreenLight;
                    border-left-color: $colorGreenLight;
                    // pour permettre d'afficher cette merde inutile de fioriture
                    content: "";
                    position: absolute;
                    right: 1px;
                    top: -8px;
                }
            }

            .caption {
                &>h4 {
                    _min-height: 70px;
                    color: $colorRed;
                    font-size: 2.5em;
                    font-weight: bold;
                    text-transform: capitalize;
                }

                & .btn-order {
                    //_background-color: $colorBlue;
                    width: 100%;
                    padding: 10px;
                    font-style: 16px;
                    color: $colorWhite;
                    background-color: $colorRed;
                    _text-decoration: none;
                    text-shadow: $textShadowPrice;

                    &:hover,
                    &:focus {
                        _color: $colorWhite;
                        background: $colorRedDeep;
                    }
                }

            }
        }
    }

    // specific au .admin
    // .admin:not(.h1exception, .h1exception>span) {
    //     // .admin>*:not(.h1exception),
    //     // .admin>*:not(.h1exception>span) {
    //     background: #fff;
    //     padding: 50px;
    //     border-radius: 10px;
    // }

    .admin:not(.h1exception, .h1exception>span) {
        // .admin {
        background: $colorWhite;
        padding: 50px;
        border-radius: 10px;

        h1 {
            &::first-letter {
                text-transform: capitalize;
            }
        }

        thead>tr>th::first-letter {
            text-transform: capitalize;
        }

        // td.buttons>a::after {
        td {
            // position: relative;

            a.buttons::after {
                // _background: red;
                // content: ' ';
                // width: 2rem;
                // height: 2rem;
                // position: absolute;
                // margin: 0 105px;
            }
        }
    }

}